<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>CS512 Project</title>

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!-- <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet"> -->

    <!-- Custom styles for this template -->
    <link href="../static/starter-template.css" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">CS512</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="PositionPredict">Position Predict</a></li>
              <li><a href="MatchPredict">Match Predict</a></li>

            <!--<li><a href="ShowOnline.html">Online View</a></li>-->
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container" >
        <h2>Predict Match Result and Player Position</h2>
        <p>Data Source: https://www.kaggle.com/laowingkin/fifa-18-predict-player-s-positions</p>
      </div>

    </div>

    <div class="container" >
      <h3 style="color:#000000" >Our project</h3>
      <ul>
        <li style="color:#000000" >Apply KNN algorithm and K-means algorithm on best soccer player position finding system.
          Use KNN algorithm to classify player by fitness and skills. Predict future marches result by linear regression method and Bayesian networks.
          Implement a useful predict and analyses system for all kind of users.</li>

      </ul>
      <hr>
      <h3 style="color:#000000" >Group Members</h3>
      <ul>
        <li style="color:#000000" >Wenzhong Li</li>
        <li style="color:#000000" >Chengtian Liu</li>
        <li style="color:#000000" >Zhaolei Wang</li>
      </ul>
      <hr>
      <p><img src="../static/index_background.jpg" alt="" title="" style="width: 100%"></p>
      <hr>
      <h3 style="color:#000000" >Data Content</h3>
      <ul>
        <li style="color:#000000" >Every player featuring in FIFA 18</li>
        <li style="color:#000000" >70+ attributes </li>
        <li style="color:#000000" >Player and Flag Images</li>
        <li style="color:#000000" >Playing Position Data</li>
        <li style="color:#000000" >Attributes based on actual data of the latest  EA's FIFA 18 game</li>
        <li style="color:#000000" >Attributes include on all player style statistics like Dribbling, Aggression, GK Skills etc.</li>
        <li style="color:#000000" >Player personal data like Nationality, Photo, Club, Age, Wage, Salary etc.</li>
      </ul>
      <hr>
      <h3 style="color:#000000" >Data Source</h3>
      <ul>
        <li style="color:#000000" >The data is scraped from the website https://sofifa.com by extracting the Player personal data and Player Ids and then the playing and style statistics.</li>
      </ul>
      <!-- Example row of columns
      <div class="row">
        <div class="col-md-4">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Heading</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>-->
      <hr>
      <h3 style="color:#FFFFFF" >Data Context</h3>
      <ul>
        <li style="color:#FFFFFF" >Dataset for people who love data science and have grown up playing FIFA.</li>
      </ul>


    </div> <!-- /container -->
    <div class="container" >
      <hr>

      <footer>
        <p>&copy; 2017 CS512</p>
      </footer>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script
            src="https://code.jquery.com/jquery-1.12.4.min.js"
            integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
            crossorigin="anonymous"></script>
    <!--<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>-->

    <script
              src="https://code.jquery.com/jquery-1.12.4.min.js"
              integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
              crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>

    <!-- Latest compiled and minified Locales -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/locale/bootstrap-table-zh-CN.min.js"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!--<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>-->

    <script type="text/javascript">
    	var i_statuindex = 0;
    	var arrdata = [];
    	var oTable = null;
    	var conformTable = null;

	    $(function () {
	       	//初始化Button的点击事件
	        var oButtonInit = new ButtonInit();
	        oButtonInit.Init();
	    });

	    var ButtonInit = function () {
	        var oInit = new Object();
	        oInit.Init = function () {
	            //初始化页面上面的按钮事件

	        	$("#btn_refresh").click(function () {
	        		$.ajax({
	        			  type: 'POST',
	        			  url: '/backend/get_predict',
	        			  data: { "a":1,
                              "term1" : [90, 90, 90, 90, 90, 90, 90, 90, 90, 90, 90],
                              "term2" : [90, 90, 90, 90, 90, 90, 90, 90, 90, 90, 90],
                              "formation1" : [4, 4, 2],
                              "formation2" : [4, 4, 2]},
	        			  success: function (data) {
	        				  if(data=="SUCC"){
	        					  //location.reload(true);
	        					  alert(data);
	        					  //success
	        				  }
	        				  else{
	        					  alert(data);
	        				  }
	        			  },
	        			  error:function (data) {
	        				  alert(data);
	        			  },
	        			  dataType: "text"
	        			});
	            });

	        	//$("#btn_logoff").click(function () {
	        		//window.location.href="/logout";
	            //});

	        };

	        return oInit;
	    };
	</script>

  </body>
</html>